# This job periodically checks the public DIDI, GSI, and PYMK show calendars
#   and updates the Long Toque page if there are any changes.
name: refresh-calendars
on:
  workflow_dispatch:
  schedule:
    # runs as a cron job on minutes 3, 18, 33, 48 of every hour
    - cron: '3,18,33,48 * * * *'

jobs:
  pull-calendars:
    runs-on: ubuntu-latest
    outputs:
      git_status: ${{ steps.git_status.outputs.status }}
    steps:
      - uses: actions/checkout@v5
      # fetch public Google calendars
      - run: ./scripts/refresh-calendars.sh
      # use `git status` to determine if calendars have changed
      - id: git_status
        run: git status --porcelain | base64 | tee -a "$GITHUB_OUTPUT"
      # commit & push if calendar changes detected
      - if: ${{ steps.git_status.outputs.status != '' }}
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git remote set-url origin https://x-access-token:${{ secrets.PAT }}@github.com/${{ github.repository }}
          git commit -a -m 'Updating show calendars.'
          git push
